.container {
    width: 800px;
    border: 1px solid black;
    background-color: antiquewhite;
    margin: auto;
}

.kiri {
    width: 150px;
    background-color: lightcoral;
    height: 500px;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}

.tengah {
    width: 500px;
    background-color: lightblue;
    height: 500px;
    float: left;
}

.kanan {
    width: 150px;
    background-color: lightgreen;
    height: 500px;
    float: left;
}