div p{
    width: 200px;
    height: 200px;
    margin: 20px auto;
    padding: 50px;
    background-color: coral;
    border-left: 5px solid black;
    border-right: 10px dotted lightblue;
}

div {
    width: 600px;
    margin: 10px auto;
    box-sizing: border-box;
}
.satu {
    background-color: green;
    padding: 10px;
    border: 15px solid red;
}

.dua {
    background-color: lightblue;
    padding: 30px;
    border: 10px dashed coral;
}