/* Selector Elemen Html */
body{
    font-family: Arial;
}

h1, h2 {
    color: green;
}

ul li a{
    color: orange;
}

ol li a{
    color: red;
}

/* Selector elemen id */
#p1 {
    color: blue;
}

/* Selector elemen class */
.cetak-tebal{
    font-weight: bold;
}

p.cetak-tebal{
    font-size: 20px;
}

.p2{
    color: red;
}